@{
    ViewData["Title"] = "Home Page";
}
<p>Welcome to the Lifelogger website! [Currently Under Construction]</p>
<p>Please feel free to browse our pages and observe a multitude of presented text and images.</p>
<p>After enjoying the basic features of our website, why not take a look at our social media feeds?</p>
<p>And if you're interested in joining LifeLogger you can submit the relevant details and your level of care at the "Join LifeLogger" page</p>
<img src="~/images/get_sackd.jpg" alt="The Sack Comes For Us All" />