@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>LifeLogger's current policy is that privacy is for dorks. </p>
<img src="~/images/comment.jpg" alt="Hard Truth" />
<p>But some images are pretty cool.</p>