@{
    ViewData["Title"] = "Social Media";
}
<h1>@ViewData["Title"]</h1>

<p>Here you'll be able to find all current and future social media for Lifelogger</p>
<div class="row">
    <div class="column">
        <a class="twitter-timeline" href="https://twitter.com/ScienceNews?ref_src=twsrc%5Etfw">Tweets by ScienceNews</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="column">
        <a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80" href="https://www.pinterest.com/pinterest/official-news/"></a>
        <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
    </div>
</div>

